.navBar-container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.navBar-img {
    mix-blend-mode: darken;
}

.navBar-img img {
   max-width: 11em;
}

.navBar-ul {
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 1em;
    margin-right: 2em;
}

.navBar-ul a {
    text-decoration: none;
    color: #439762;
    font-weight: 500;
    transition: .5s all;
}

.navBar-ul a:hover {
    color: #89fcb3;
}

.navBar-ul .signUp-btn {
    border: 1px solid transparent;
    background-color:  #439762;
    padding: .4em 1em;
    color: #f1f1f1;
    border-radius: .5em;
}


.navBar-ul .signUp-btn:hover {
    border: 1px solid #439762;
    color: #439762;
    background-color: #f1f1f1;
}

@media (max-width: 900px) {
    .navBar-container {
        width: 100%;
        
    }

    .navBar-ul {
        font-size: 17px;
    }

    .navBar-img img{
        width: 10rem;
    }
}

@media (max-width: 490px) {
    .navBar-img img {
        display: none;
    }

    .navBar-ul .signUp-btn {
        padding: .3rem;
    }
}